{% extends 'base.html' %}
{% block content %}


    <!-- Main Body Content Start -->
    <main id="body-content">

        <!-- Causes Grid Start -->
        
        <section class="wide-tb-100">
            <div class="container">
                <h1 class="heading-main">
                    {% if patients %}
                        <h1 class="heading-main">
            
                        You searched for "{{searched}}"
                </h1>

                <ul>
                    {% for patient in patients %}
                    <li>{{ patient.first_name }} {{ patient.last_name }}</li>
                    
            
                    <a href='{% url "patient-details" patient.slug %}'>View Patient Details</a>
                    <hr>
                    {% endfor %}
                </ul>
                {% else %}
                <h1 class="heading-main">
                    
                        <h1 class="heading-main">
            
                        No Result Found For "{{searched}}"
                </h1>
                    {% endif %}
{% endblock %}